#wrap {
  position: relative;
  width: 100%;
  height: 98vh;
  background: #222;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  image-rendering: pixelated;
}

#base { 
  position: absolute;
  z-index: 0;
}

#overlay {
  position: absolute;
  z-index: 1;
}

#connect-info {
  top: 0;
  left: 0;
  background-color: gray;
}