body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  color: black;
  background-color: black;
  font-size: small;
}

ul {
  padding-left: 10px;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#controls {
  width: 100px;
  position: relative; 
  background-color: gray;
  height: 100vh;
}

#drawing-canvas {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#debug-info {
  flex-direction: column;
  z-index: 2;
  /* position: absolute; */
  padding: 10px;
  top: 0;
  left: 0;
  background-color: gray;
}

#toolbar {
  z-index: 2;
  position: absolute; 
  top: 50%;
  left: 0;
  width: 80px;
}

#toolbar label {
  font-size: 12px;
}

#toolbar input {
  width: 100%;
}

#drawing-canvas {
  width: 100%;
  position: relative;
}

#base, #overlay {
  position: absolute;
  inset: 0;
  display: block;
  background: transparent;
}

#base { 
  background: #fff; 
}

#stage {                        /* fixed canvas box */
  position: relative;
  width: 800px;
  height: 800px;
}

canvas {
  image-rendering: pixelated;
  border: 1px solid black;
}
